PORT=5000
MONGO_URI=mongodb+srv://YOUR_USER:YOUR_PASSWORD@YOUR_CLUSTER.mongodb.net/sms-service
MONGO_DNS_SERVERS=1.1.1.1,8.8.8.8

SMS_API_KEY=your_smsfortius_api_key
SMS_SENDER_ID=DVRKRT
SMS_TEMPLATE_ID=1707177575099416766
SMS_BASE_URL=https://smsfortius.org/V2/apikey.php

# Local frontend + deployed frontend URLs allowed to call backend
CORS_ORIGINS=http://localhost:5173,https://sms-test-1.onrender.com
